/*Body Config*/
body {
 background-color:white;
 margin: 0 auto;
}

/*Font Config*/
p, h1,h2 {
    color: black;
}

.modal-header > h5{
    color:black;
}

h2 {
    text-align: center;
}
modal-body,p{
    color:black;
}

/*Font Sizes*/
h1 {
    text-align: center;
    font-size: 48px;
}
p, h2 {
    text-align: center;
    font-size: 24px;
}

/*Group styling*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float:left;
}
li a{
    display:block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    color: grey;
    text-decoration: unset;
}

/*Navbar text*/ 
.navbar-dark .navbar-nav .nav-link {
    color: black;
}

/*Div Layering*/
.navbar {
    z-index: 2;
    position: absolute;
}
.modal {
    z-index: 4;
    max-height: 320px;
    margin-top: 15%;
    overflow: hidden !important;
}

/*Title positions*/
.modal-title {
    text-align: center;
    margin-left: auto;
}


/*Hyperlink Styling*/
a:link {
    color: white;
    text-decoration:none;
}

a:visited {
    color: white;
}

html {
    font: 0.75em/1.5 sans-serif;
    color: #333;
    background-color: #fff;
    padding: 1em;
}

/* Tables */
table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    background-color: #ddd;
}

th,
td {
    padding: 0.5em;
    border: 1px solid #ccc;
}